<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EFriendly"
        tools:targetApi="31">
        <activity
            android:name="project.example.efriendly.activities.userFragments.CartActivity"
            android:exported="false" />
        <activity
            android:name="project.example.efriendly.activities.userFragments.ChatActivity"
            android:exported="false" />
        <activity
            android:name="project.example.efriendly.activities.AnonymousHomepageActivity"
            android:exported="false" />
        <activity
            android:name="project.example.efriendly.activities.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name="project.example.efriendly.activities.userFragments.HomepageActivity"
            android:exported="false" />
        <activity
            android:name="project.example.efriendly.activities.userFragments.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name="project.example.efriendly.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>